#footer {
    background-color: var(--primary-color);
}

#footer .container {
    flex-direction: column;
    padding-bottom: 24px;
}

#footer .container a {
    display: inline-block;
    width: fit-content;
}

#footer .footer-content {
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
}

#footer p {
    color: var(--font-color-2);
    font-size: 14px;
}

#footer .footer-content ul {
    margin-top: 8px;
}

#footer .footer-content ul li a {
    color: var(--font-color-2);
    font-size: 14px;
    font-weight: 400;
    padding: 8px 0;
    transition: all ease 150ms;

    &:hover {
        font-weight: 500;
    }
}