#header {
    height: 80px;
    width: 100vw;
    background: transparent;
    display: flex;
    position: fixed;
    align-items: center;
    transition: all 250ms;
    z-index: 10;
}

#header .nav-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 144px;
}

#header .navbar-scrolled{
    background-color: var(--primary-color);
    transition: ease 500ms;
}

#menu-btn {
    border: none;
    color: var(--font-color-2);
    background: transparent;
    font-size: 32px;
    display: none;
}

.nav-mobile-items {
    display: none;
}

.nav-mobile-items ul {
    width: 100%;
}

.nav-mobile-items ul li {
    padding: 24px 24px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.nav-mobile-items ul li a{
    color: var(--font-color-2);
    
    &:active {
        color: var(--secondary-color);
    }
}

.nav-mobile-items.active {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#navbar {
    background-color: transparent;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 24px;
}

#navbar ul {
    list-style: none;
    padding: 0;
}

#navbar ul li {
    display: flex;
    gap: 16px;
}

#navbar ul li a {
    padding: 8px 8px;
    color: var(--font-color-2);
    font-size: 16px;
    font-weight: 500;
    
    &:hover {
        border-bottom: 1px solid var(--secondary-color);
        color: var(--secondary-color);
        transition: all 250ms;
    }
}

.cta-btn {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: var(--secondary-color);
    color: var(--font-color-2);
    &:hover {
        background-color: #f8ab30;
        transition: ease-in-out 150ms;
    }
}

@media (max-width: 575.98px)  {
    #header {
        flex-direction: column;
    }

    #header .nav-div {
        padding: 0 24px;
    }

    #navbar {
        display: none;
    }

    #menu-btn {
        display: block;
    }

    .cta-btn {
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 991.98px) {
    #header {
        flex-direction: column;
    }

    #header .nav-div {
        padding: 0 24px;
    }

    #navbar {
        display: none;
    }

    #menu-btn {
        
        display: block;
    }
}