#trainers .container {
    flex-direction: column;
}

#trainers .images {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.img-container {
    position: relative;
    display: inline-block;
    /* Hover olduğunda çizgilerin hareketi */
    &:hover {
        .outer-frame {
            &::after{
                width: 85%;
                left: 24px;
                right: 24px;
            }
        }
        .outer-frame .side.left {
            height: 50%;
            bottom: 16px;
        }
        .outer-frame .side.right {
            height: 50%;
            bottom: 16px;
        }
        .img-content {
            left: calc(50% -134px);
            bottom: 16px;
            opacity: 1;
        }
    }
}

.img-container img {
    width: 300;
    height: 350px;
    border: 2px solid var(--secondary-color);
    border-radius: 4px;
}

/*Değerlendirme kriteri 12 için dış çerçeve*/
.outer-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;

    &::before,&::after {
        content: '';
        position: absolute;
        background-color: var(--primary-color);
        transition: all 0.5s ease;
    }
}

/* Üst çizgi */
.outer-frame::before {
    width: 80px;
    height: 8px;
    top: -8px;
    left: calc(50% - 40px);
}

/* Alt çizgi*/
.outer-frame::after {
    width: 80px;
    height: 8px;
    bottom: -4px;
    left: calc(50% - 40px);
}

/*sol ve sağ çizgiler için side ile konum ve renk tanımlaması*/
.outer-frame .side {
    position: absolute;
    background-color: var(--primary-color);
    transition: all 0.5s ease;
}

/* Sol ve sağ çizgi */
.outer-frame .side.left {
    width: 8px;
    height: 120px;
    left: -8px;
    top: calc(50% - 60px);
}

.outer-frame .side.right {
    width: 8px;
    height: 120px;
    right: -8px;
    top: calc(50% - 60px);
}

/* Değerlendirme kriteri 12 için Hover olduğunda çıkan trainer isim kutusu*/
.img-content {
    color: var(--font-color-2);
    position: absolute;
    left: 16px;
    width: calc(100% - 32px);
    bottom: 0;
    padding: 24px 8px;
    text-align: center;
    background-color: var(--primary-color);
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    opacity: 0;
    transition: all 250ms linear;
}

.img-content p {
    color: var(--font-color-2);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    margin-top: 8px;
}

/*değerlendirme kriteri 7: responsive tasarım*/
@media (max-width: 575.98px) {

    #trainers .images {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 24px;
        gap: 40px;
    }

    .img-container {
        width: 100%;
        height: 100%;
    }

    .img-container img {
        width: 100%;
        height: 100%;
        border: 2px solid var(--secondary-color);
        border-radius: 4px;
    }

}

